.advantages {
  padding: 60px 0;
  text-align: center;

  .icon {
    background-color: var(--secondary-background);
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
    width: auto;
  }

  .antenna {
    background-image: url(../images/antenna.svg);
  }

  .clock {
    background-image: url(../images/clock.svg);
  }

  .diagramm {
    background-image: url(../images/diagram.svg);
  }

  .astronaut {
    background-image: url(../images/astronaut.svg);
  }

  &__title {
    display: inline-block;
    margin: 30px 0 0;

    color: var(--primary-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
  }

  &__description {
    margin: 10px 0 0;

    color: var(--secondary-text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .advantages {
    .item:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    text-align: left;

    .list {
      display: flex;
    }

    @media screen and (max-width: 1199px) {
      .advantages {
        .item:nth-child(-n + 2) {
          margin-bottom: 30px;
        }
      }

      .list {
        flex-wrap: wrap;
      }

      .icon {
        width: 354px;
      }

      &__title {
        max-width: 354px;
      }

      &__description {
        max-width: 354px;
      }

      .item:nth-child(odd) {
        margin-right: 30px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding: 94px 0;

    .item:not(:last-child) {
      margin-right: 30px;
    }
  }
}
