body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-background);
}

.list {
  list-style: none;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 768px) {
  .list {
    .team & {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
